<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<h1>New user</h1>

<form action="#" th:action="@{/users/new_user}" th:object="${user}" method="post">
    <div>
        <label for="name">First name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="email">
    </div>
    <div>
        <label for="address">Address</label>
        <input type="text" th:field="*{address}" id="address" placeholder="Address">
        </div>
    <div>
        <input type="submit" value="Create User">
        </div>
</form>
<h2><a href="/users/">Return to main page</a></h2>
</body>
</html>